.logo {
  @include flex($flex-dir: column);
  row-gap: 1rem;
  text-decoration: none;

  &__title {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.192rem; 
    text-transform: capitalize;
    @extend %serif;

    .logo_dark & {
      color: $color-primary;
    }
  }

  &__subtitle {
    font-size: 1.3rem;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.13rem;
    @extend %sans-serif; 

    .logo_dark & {
      color: #fff;
    }
  }
}