.nav {
  @include flex();
  column-gap: 3.5rem;

  &__link {
    color: $color-dark-l;
    text-decoration: none;
    transition: .15s;
    @extend %p;

    .header_dark & {
      color: $color-dark-s;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: $color-dark-3xl;
      border-bottom: 3px solid $color-primary;

      .header_dark & {
        color: $color-light-s;
      }
    }

    &:active,
    &_active {
      color: $color-dark-l;

      .header_dark & {
        color: $color-light-s;
      }
    }
  }
}