.donation {
  @include flex();
  background-color: $color-light-l;

  &__wrapper {
    @include flex();
    gap: 3rem;
    width: 91.5rem;
    background-color: inherit;
    margin: 8rem 18.25rem 10rem;

    @include media-tablet {
      margin-left: 13.2rem;
      margin-right: 13.2rem;
      gap: 6rem;
      flex-direction: column-reverse;
    }

    @include media-mobile {
      margin: 4.2rem 1rem;
      gap: 4.2rem;
    }
  }

  &__dog {
    width: 50.5rem;
    height: 26.1rem;
    background-image: url(../../assets/images/donation-dog.png);
    background-repeat: no-repeat;
    background-size: cover;

    @include media-mobile {
      width: 26rem;
      height: 13.52rem;
    }
  }

  &__content {
    @include flex($align: flex-start, $flex-dir: column);
    gap: 2rem;

    @include media-mobile {
      align-items: center;
    }
  }

  &__heading {
    $color: $color-dark-l;
    @extend %h3;

    &:first-letter {
      text-transform: uppercase;
    }

    @include media-mobile {
      text-align: center;
      font-size: 2.5rem;
      line-height: 130%;
      letter-spacing: .15rem;
    }
  }

  &__subheading {
    $color: $color-dark-l;
    @extend %h5;

    @include media-mobile {
      font-size: 1.5rem;
      line-height: 160%;
      letter-spacing: normal;
    }
  }

  &__paragraph {
    width: 38rem;
    color: $color-dark-m;
    @extend %p-italic;

    @include media-mobile {
      width: 28rem;
      text-align: justify;
    }
  }
}