.donation {
  @include flex();
  background-color: $color-light-l;

  &__wrapper {
    @include flex();
    gap: 3rem;
    width: 91.5rem;
    background-color: inherit;
    margin: 8rem 18.25rem 10rem;

    @include media-tablet {
      margin-left: 13.2rem;
      margin-right: 13.2rem;
      gap: 6rem;
      flex-direction: column-reverse;
    }
  }

  &__dog {
    width: 50.5rem;
    height: 26.1rem;
    background-image: url(../../assets/images/donation-dog.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__content {
    @include flex($align: flex-start, $flex-dir: column);
    gap: 2rem;
  }

  &__heading {
    $color: $color-dark-l;
    @extend %h3;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__subheading {
    $color: $color-dark-l;
    @extend %h5;
  }

  &__paragraph {
    width: 38rem;
    color: $color-dark-m;
    @extend %p-italic;
  }
}