.friends {
  @include flex();
  background-color: $color-light-l;

  &__wrapper {
    @include flex($flex-dir: column);
    gap: 6rem;
    margin: 8rem 4rem 10rem;
    background-color: $color-light-l;

    @include media-tablet {
      margin-left: 3rem;
      margin-right: 3rem;
    }

    @include media-mobile {
      gap: 4.2rem;
      margin: 4.2rem 1rem;
    }
  }

  &__heading {
    text-align: center;
    color: $color-dark-l;
    @extend %h3;

    @include media-mobile {
      font-size: 2.5rem;
      line-height: 130%;
      letter-spacing: .15rem;
    }
  }

  &__slider {
    @include flex();
    gap: 5.3rem;

    @include media-tablet {
      gap: 1.2rem;
    }

    @include media-mobile {
      row-gap: 2rem;
      column-gap: 8rem;
      flex-wrap: wrap;
    }
  }
}