.friends {
  @include flex();
  background-color: $color-light-l;

  &__wrapper {
    @include flex($flex-dir: column);
    gap: 6rem;
    width: 120rem;
    margin: 8rem 4rem 10rem;
    background-color: $color-light-l;

    @include media-tablet {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }

  &__heading {
    text-align: center;
    color: $color-dark-l;
    @extend %h3;
  }

  &__slider {
    @include flex();
    gap: 5.3rem;

    @include media-tablet {
      gap: 1.2rem;
    }
  }
}