.header {
  @include flex();

  &__wrapper {
    @include flex($justify: space-between);
    width: 120rem;
    height: 6rem;
    margin: 3rem 4rem;

    @include media-tablet {
      margin: 3rem;
    }
  }
}