.help {
  @include flex();
  background-color: #fff;
  padding: 8rem 4rem 10rem;

  @include media-tablet {
    padding-left: 6.9rem;
    padding-right: 6.9rem;
  }

  &__wrapper {
    @include flex($flex-dir: column);
    padding: 0 8rem;
    gap: 6rem;

    @include media-tablet {
      padding: 0;
    }
  }

  &__heading {
    color: $color-dark-l;
    text-align: center;
    @extend %h3;
  }

  &__list {
    @include flex($flex-wrap: wrap);
    row-gap: 5.5rem;
    column-gap: 12rem;

    @include media-tablet {
      column-gap: 6rem;
    }

    &-item {
      @include flex($flex-dir: column);
      gap: 3rem;

      @include media-tablet {
        width: 17rem;
      }
    }

    &-subheading {
      color: $color-dark-l;
      text-align: center;
      @extend %h4;

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}