.help {
  @include flex();
  background-color: #fff;
  padding: 8rem 4rem 10rem;

  @include media-tablet {
    padding-left: 6.9rem;
    padding-right: 6.9rem;
  }

  @include media-mobile {
    padding: 4.2rem 1.5rem;
  }

  &__wrapper {
    @include flex($flex-dir: column);
    padding: 0 8rem;
    gap: 6rem;

    @include media-tablet {
      padding: 0;
    }

    @include media-mobile {
      gap: 4.2rem;
    }
  }

  &__heading {
    color: $color-dark-l;
    text-align: center;
    @extend %h3;

    @include media-mobile {
      font-size: 2.5rem;
      line-height: 130%;
      letter-spacing: .15rem;
    }
  }

  &__list {
    @include flex($flex-wrap: wrap);
    row-gap: 5.5rem;
    column-gap: 12rem;

    @include media-tablet {
      column-gap: 6rem;
    }

    @include media-mobile {
      gap: 3rem;
      justify-content: flex-start;
    }

    &-item {
      @include flex($flex-dir: column);
      gap: 3rem;

      @include media-tablet {
        width: 16.7rem;
      }

      @include media-mobile {
        width: 12.7rem;
        gap: 2rem;
      }
    }

    &-image {
      max-width: 6rem;
      @include media-mobile {
        max-width: 5rem;
      }
    }

    &-subheading {
      color: $color-dark-l;
      text-align: center;
      @extend %h4;

      @include media-mobile {
        font-size: 1.5rem;
        line-height: 110%;
        letter-spacing: .09rem;
      }

      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
}